body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1E1E1E;
}

.logo {
    font-size: 24px;
}

.main-content {
    display: flex;
    flex-direction: column; /* This ensures items are stacked vertically */
    align-items: center; /* This centers the children horizontally */
    padding: 20px;
}

.output {
    padding: 20px;
    
    border: 1px solid #333;
    border-radius: 5px;
    width: 80%;
    min-height: 50vh;
    overflow-y: auto;
    background-color: #222;
    color: #E0E0E0;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 20px;
    color: #E0E0E0;
    text-decoration: none;
}

.nav-item:hover {
    color: #0DFF72;
}
.logo img {
    height: 50px; /* Adjust based on your preference */
    width: 50px; /* Ensure this is the same as height for a perfect circle */
    border-radius: 50%; /* This creates the circular shape */
    object-fit: cover; /* This ensures the image covers the area without losing its aspect ratio */
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap between buttons */
   
}


.button-container button {
    padding: 10px 20px;
    background-color: #333; /* Dark background for dark theme */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px; /* Space between icon and text */
}

.button-container button:hover {
    background-color: #444; /* Slightly lighter on hover */
}

.button-container i {
    font-size: 16px; /* Icon size */
}

